Package: com.ethanarbuckle.carplayenable
Name: carplayenable
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Use any app with CarPlay
Maintainer: Ethan Arbuckle
Author: Ethan Arbuckle
Section: Tweaks
