Package: com.cortex.carplayenable
Name: carplayenable
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Use any app with CarPlay
Maintainer: Cortex
Author: Cortex
Section: Tweaks
